@use 'pages/common';
@use 'pages/header';

/* ========= PC =============== */
@media screen and (max-width: 1600px) {

  .wrapper {
    margin: 0 40px;
    h1 {
      font-size: 14px;
      font-weight: normal;
      margin: 120px 0 30px;
    }
    .container {
      display: grid;
      grid-template-columns: 22% 22% 22% 22%;
      grid-template-rows: auto auto auto;
      justify-content: space-between;
      .plp-bx {
        padding-bottom: 30px;
        font-size: 12px;
      }
    }
    .pg-nation {
      display: flex;
      justify-content: center;
      margin-top: 20px;
      margin-bottom: 120px;
      text-align: center;
      font-size: 14px;
      li {
        padding: 0 20px;
        font-size: 14px;
      }
    }
  }
  footer {
    padding: 0 40px 20px;
    display: flex;
    justify-content: space-between;
    .menu {
      display: flex;
      font-size: 12px;
      .twitter {
        padding: 0 30px;
      }
    }
    .copyright {
      font-size: 10px;
    }
  }
}





/* ========= mobile =============== */
@media screen and (max-width: 900px) {

  .wrapper {
    .container {
      display: grid;
      grid-template-columns: 47% 47%;
      grid-template-rows: auto auto auto auto auto auto;
      justify-content: space-between;
    }
  }
  footer {
    display: inline-block;
    .menu {
      display: flex;
    }
    .copyright {
      padding-top: 5px;
    }
   }
}
